# Data Understanding and Cleaning

In [4]:
#import the required libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#save the model
import pickle
%matplotlib inline
#To ignore the warnings
import warnings
warnings.filterwarnings("ignore")

In [6]:
data=pd.read_csv("credit-card-default.csv")
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,defaulted
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [8]:
data.shape

(30000, 25)

In [12]:
data.isnull().sum()

ID           0
LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
defaulted    0
dtype: int64

In [13]:
#understand the type of columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         30000 non-null  int64
 1   LIMIT_BAL  30000 non-null  int64
 2   SEX        30000 non-null  int64
 3   EDUCATION  30000 non-null  int64
 4   MARRIAGE   30000 non-null  int64
 5   AGE        30000 non-null  int64
 6   PAY_0      30000 non-null  int64
 7   PAY_2      30000 non-null  int64
 8   PAY_3      30000 non-null  int64
 9   PAY_4      30000 non-null  int64
 10  PAY_5      30000 non-null  int64
 11  PAY_6      30000 non-null  int64
 12  BILL_AMT1  30000 non-null  int64
 13  BILL_AMT2  30000 non-null  int64
 14  BILL_AMT3  30000 non-null  int64
 15  BILL_AMT4  30000 non-null  int64
 16  BILL_AMT5  30000 non-null  int64
 17  BILL_AMT6  30000 non-null  int64
 18  PAY_AMT1   30000 non-null  int64
 19  PAY_AMT2   30000 non-null  int64
 20  PAY_AMT3   30000 non-null  int64
 21  PAY_AMT4   30000 non-null  int64
 22  PAY_AMT5   30000 non-null  int64
 23  PAY_AMT6   30000 non-null  int64
 24  defaulted  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
train,test=train_test_split(data,test_size=0.3,random_state=42)

In [16]:
train.shape

(21000, 25)

In [17]:
test.shape

(9000, 25)

In [35]:
Testdata=test.to_dict(orient="records")

In [18]:
traindata,val_data=train_test_split(train,test_size=0.3,random_state=42)

In [19]:
traindata.shape

(14700, 25)

In [28]:
type(traindata)

pandas.core.frame.DataFrame

In [34]:
Traindata=traindata.to_dict(orient="records")

In [21]:
val_data.shape

(6300, 25)

In [36]:
Valdata=val_data.to_dict(orient="records")

In [22]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.1.0-cp310-cp310-win_amd64.whl (363 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.1.0

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\MorampudiManasa\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [23]:
import pymongo

In [24]:
connection=pymongo.MongoClient("mongodb://localhost:27017")

In [25]:
mydb=connection["projectdata"]

In [26]:
print(mydb)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'projectdata')

In [27]:
traincollection=mydb["train_data"]
testcollection=mydb["test_data"]
valcollection=mydb["val_data"]

In [38]:
traincollection.insert_many(Traindata)
testcollection.insert_many(Testdata)
valcollection.insert_many(Valdata)
print("all data inserted into a mongodb database")

all data inserted into a mongodb database